.title {
    font-size: 48px;
    font-family: Lucida Sans;
}

.title-first {
    background: rgb(237,0,247);
    background: linear-gradient(128deg, rgba(237,0,247,1) 0%, rgba(210,11,40,1) 40%, rgba(255,239,0,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-gold {
    background: rgb(255,239,0);
    background: linear-gradient(140deg, rgba(255,239,0,1) 0%, rgba(203,43,210,1) 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
}