@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Movie";
}
<div class="m-4 p-4">
    <p class="fs-1 text-white">Вам отказано в доступе</p>
    <a class="btn btn-outline-primary text-white mt-2" href="../index">Вернуться на главную страницу</a>
</div>