@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Войти в аккаунт";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _style = "form-control border border-2 border-light text-white bg-dark m-2";
}
@using KinoSystem.Models
@inject IHttpContextAccessor HttpContextAccessor
@model Person
<div class="m-4 p-4">
    <h2 class="text-white text-center fs-2 fw-bold mb-4">Вход в аккаунт</h2>
    
</div>
