@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Расписание";
}
@using KinoSystem.Models;
@using KinoSystem.Models.Utilities;
@inject KinoSystem.Models.Database.KinoDBContext db;
<div class="m-4 p-4">
    <form class="bg-dark">
        <p class="form-control text-white bg-dark border-0">Выберите дату</p> <input type="date" class="form-control m-2" onchange="SetDate()" id="inputdate" style="width:300px" value="@TempData["date"]" />
    </form>
    <p class="text-white fs-3" id="pdate">@TempData["date"]</p>
    <div class="container-fluid">
        @foreach (var session in await Utililies.GetSessionsByDateAsync(db, DateTime.Parse(TempData["date"].ToString()))){
            <div class="row">

                <div class="col-4 col-md-4">
                    @session.Start
                </div>
                <div class="col-8 col-md-8">
                    @session.Session.Film.Title

                </div>
            </div>
        }
        

    </div>
    <script type="text/javascript">

        function SetDate(){
            var url = new URL(window.location.href);
            var search_params = url.searchParams;
            var date = document.getElementById("inputdate").value;
            console.log(date);
            search_params.set('date', date);
            url.search = search_params.toString();
            console.log(url);
            window.location = url;
        }
        
    </script>
</div>